@model JadooTravel.Dtos.CategoryDtos.GetCategoryByIdDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />

    <form method="post">
        <input type="text" asp-for="CategoryID" />
        <input type="text" asp-for="CategoryName" placeholder="Kategori Adını Giriniz" class="form-control" />
        <br />
        <button class="btn btn-success">Kategoriyi Güncelle</button>
    </form>

</div>